@import "../common/_config.scss";

$application-colors: (
  "turquoise": darken(#61c4a6, 15%),
  "green": #5b995a,
  "blue": #3498db,
  "darkblue": #4366de,
  "purple": darken(#b86ad9, 15%),
  "bluegray": lighten(#34495e, 25%),
  "gray": darken(#7f8c8d, 10%),
  "yellow": darken(#eed04b, 25%),
  "orange": darken(#e67e22, 10%),
  "pink": darken(#f293cd, 30%),
  "red": #c0392b
) !default;

/* Category header */
$ch-tabs-lighter: 30% !default;
$ch-tabs-lighter-hover: 20% !default;
$ch-tab-padding-y: 1.5 !default;
$ch-tab-padding-x: 4 !default;
$ch-tab-color: #000 !default;
$ch-tab-font-size: 1rem !default;
$ch-tab-font-weight: 500 !default;

$ch-container-lighter: 0% !default;
$ch-container-color: white !default;
$ch-container-padding-y: 1.5 !default;
$ch-container-padding-x: 2 !default;

$ch-category-name-font-size: 1.75rem !default;
$ch-category-name-font-weight: 700 !default;

$ch-nav-padding-y: 1 !default;
$ch-nav-padding-x: 2 !default;

$ch-nav-item-padding-y: 1 !default;
$ch-nav-item-padding-x: 2 !default;
$ch-nav-item-margin-y: 0 !default;
$ch-nav-item-margin-x: 1.5 !default;
$ch-nav-item-darken-hover: 5% !default;
$ch-nav-item-darken-active: 10% !default;
$ch-nav-item-font-size: 1rem !default;
$ch-nav-item-font-weight: 500 !default;
$ch-nav-item-border-radius: 3px !default;


$ch-nav-button-darken: 10% !default;
$ch-nav-button-padding-y: 1.5 !default;
$ch-nav-button-padding-x: 2.5 !default;
$ch-nav-button-darken-hover: 20% !default;
$ch-nav-button-darken-active: 30% !default;

$ch-mobile-breakpoint: 850px !default;

/* Diff */
$diff-padding: 4 !default;
$diff-margin: 0.5 !default;
$diff-element-border-radius: 3px !default;

$diff-added-background-color: lighten(map-get($secondary-colors, "green"), 45%) !default;
$diff-removed-background-color: lighten(map-get($secondary-colors, "red"), 30%) !default;
$diff-changed-background-color: lighten($tertiary-color, 42.5%) !default;

/* ToC */
$toc-header-font-weight: 500;
$toc-header-top-margin: 2;
$toc-header-active-background-color: lighten($tertiary-color, 35%);
$toc-header-active-color: inherit;
$toc-header-padding-x: 2;
$toc-header-padding-y: 1;

$toc-outer-border-width: 2px;
$toc-inner-border-width: 1px;
$toc-border-color: lighten($tertiary-color, 35%);

$toc-entry-font-size: 0.9em;
$toc-entry-padding: 1;
$toc-entry-hover-background-color: lighten($tertiary-color, 40%);

$toc-icon-width: 2rem;

$toc-badge-min-width: 3rem;
$toc-badge-padding: 0.5;

$toc-full-padding-y: 0;
$toc-full-padding-x: 2;