.meter {
    height: $meter-height;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;

    .meter--bar {
        width: 0;
        font-size: 0;
        line-height: 0;
        color: transparent;

        @for $i from 0 through 100 {
            &.is-#{$i}\%, {
                width: $i * 1%;
            }
        }
    }

    .meter--label {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        font-weight: bold;
    }
}

.meter.is-progress {
    border-radius: $meter-progress-border-radius;
    border: $meter-progress-border-width solid $meter-progress-border-color;
    height: 1.5rem;
    color: $meter-progress-color;

    .meter--bar {
        border-radius: $meter-progress-border-radius;
        background-color: $meter-progress-inner-color;
    }
}

.meter.is-question-score {
    background-color: $meter-question-score-outer-color;
    max-width: $meter-max-width;
    border-radius: $meter-question-score-border-radius;

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: $meter-question-score-dash-width;
        left: calc(50% - #{$meter-question-score-dash-width*0.5});
        right: calc(50% - #{$meter-question-score-dash-width*0.5});
        z-index: 1;
        background-color: $meter-question-score-dash-color;
    }

    .meter--bar {
        position: absolute;
        height: 100%;
        z-index: 0;

        @for $i from 0 through 49 {
            &.is-#{$i}\% {
                width: (50 - $i) * 1%;
                right: 50%;
                border-top-left-radius: $meter-question-score-border-radius;
                border-bottom-left-radius: $meter-question-score-border-radius;
                background-color: $meter-question-score-negative-color;
            }
        }

        &.is-50\% {
            left: 50%;
            right: 50%;
            width: 0;
        }

        @for $i from 51 through 100 {
            &.is-#{$i}\% {
                width: ($i - 50) * 1%;
                left: 50%;
                border-top-right-radius: $meter-question-score-border-radius;
                border-bottom-right-radius: $meter-question-score-border-radius;
                background-color: $meter-question-score-positive-color;
            }
        }
    }
}