.tools {
    display: flex;
    padding: $tools-padding-y*$padding-unit $tools-padding-x*$padding-unit;
    clear: both;
    flex-wrap: wrap;

    .tools--item {
        background-color: $tools-item-background-color;
        font: inherit;
        font-size: $tools-item-font-size;
        font-weight: $tools-item-font-weight;
        border: none;
        color: $tools-item-color;
        padding: $tools-item-padding-y*$padding-unit $tools-item-padding-x*$padding-unit;
        margin: $tools-item-margin-y*$margin-unit $tools-item-margin-x*$margin-unit;
        cursor: pointer;
        display: block;
        text-decoration: none;

        line-height: 1;

        transition: $default-transition;

        &:focus {
            background-color: $tools-item-active-background-color;
            text-decoration: none;
        }

        &:hover {
            background-color: $tools-item-active-background-color;
            color: $tools-item-active-color;
            text-decoration: none;
        }

        &:active,
        &.is-active {
            background-color: $tools-item-active-background-color;
            color: $tools-item-active-color;
            box-shadow: $tools-item-active-inner-shadow inset;
            text-decoration: none;
        }

        &.is-danger {
            background-color: $tools-item-danger-background-color;
            color: $tools-item-danger-color;

            &:focus {
                color: $tools-item-danger-active-color;
                background-color: $tools-item-danger-hover-background-color;
            }

            &:hover {
                color: $tools-item-danger-active-color;
                background-color: $tools-item-danger-hover-background-color;
            }

            &:active,
            &.is-active {
                color: $tools-item-danger-active-color;
                background-color: $tools-item-danger-active-background-color;
                box-shadow: $tools-item-danger-active-inner-shadow inset;
            }
        }

        &.is-danger.is-filled {
            color: $tools-item-danger-filled-color;
            background-color: $tools-item-danger-filled-background-color;

            &:focus {
                color: $tools-item-danger-filled-active-color;
                background-color: $tools-item-danger-filled-hover-background-color;
            }

            &:hover {
                color: $tools-item-danger-filled-active-color;
                background-color: $tools-item-danger-filled-hover-background-color;
            }

            &:active,
            &.is-active {
                color: $tools-item-danger-filled-active-color;
                background-color: $tools-item-danger-filled-active-background-color;
                box-shadow:  inset;
            }
        }
    }
}