node_modules/
scratch/*
/.idea/

# Do not put from-MD-compiled-HTML into the repo
/docs/
!/docs/CNAME


# Do not put from-SASS-compiled-CSS into the repo
/dist/

# Do not put from-TS-compiled-JS into the repo
/js/