<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title | escape }}</title>

    <link rel="stylesheet" type="text/css" href="{{ "/dist/codidact.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/docs.css" | relative_url }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
</head>