<header class="header">
    <div class="container header--container">
        <div class="header--brand">
          <a class="header--site-name" href="/">Co-Design</a>
        </div>
        <div class="header--menu">
          <div class="header--separator"></div>

          <a class="header--item is-complex is-visible-on-mobile" href="https://github.com/codidact/co-design"><i class="fa fa-2x fa-github fa-fw"></i></a>
          <a class="header--item is-complex is-visible-on-mobile" href="https://forum.codidact.org"><i class="fa fa-2x fa-community fa-fw"></i></a>
        </div>
    </div>
</header>