<nav class="menu">
    {% for section in navigation.sections %}
        {% if section.url %}
            <a href="{{ section.url }}" class="menu--heading {% if page.url == section.url %}is-active{% endif %}">
                {{ section.title }}
            </a>
        {% else %}
            <div class="menu--heading">
                {{ section.title }}
            </div>
        {% endif %}
        {% for link in section.links %}
        <a href="{{ link.url }}" class="menu--item {% if page.url == link.url %}is-active{% endif %}">
            {{ link.title }}
        </a>
        {% endfor %}
    {% endfor %}
</nav>