.badge.is-tag {
  display: inline-block;
  font-size: 14px;
  padding: $padding-unit 2*$padding-unit;
  font-weight: 500;
  color: darken($primary-color, 35%);
  background-color: lighten($primary-color, 30%);
  border-radius: 3px;

  &:hover {
    text-decoration: none;
    background-color: lighten($primary-color, 25%);
  }

  &.is-master-tag {
    color: #ffffff;
    background-color: darken($primary-color, 30%);

    &:hover {
      color: #ffffff;
      background-color: darken($primary-color, 35%);
    }
  }
}

.badge.is-award {
  display: inline-block;
  padding: $padding-unit 2*$padding-unit;
  font-weight: 500;
  color: darken($tertiary-color, 25%);
  background-color: lighten($tertiary-color, 40%);
  border: 1px solid lighten($tertiary-color, 35%);
  border-radius: 3px;

  .badge--icon {
    margin-right: $margin-unit;
  }

  &.is-gold .badge--icon {
    color: #cc0;
  }

  &.is-silver .badge--icon {
    color: #ccc;
  }

  &.is-bronze .badge--icon {
    color: #c73;
  }

  &:hover {
    text-decoration: none;
  }
}


.badge.is-user-role {
  display: inline-block;
  font-size: 12px;
  padding: $padding-unit*0.75 $padding-unit*1.5;
  border-radius: 2px;
  background-color: darken($primary-color, 20%);
  color: white;
  font-weight: bold;
}

.badge.is-user-trust-level {
  display: inline-block;
  font-size: 14px;
  padding: $padding-unit*0.25 $padding-unit*1.5;
  border-radius: 50%;
  background-color: darken($primary-color, 20%);
  color: white;
  font-weight: bold;
}
