.badge.is-tag {
  display: inline-block;
  font-size: $badge-tag-font-size;
  padding: $badge-tag-padding-y*$padding-unit $badge-tag-padding-x*$padding-unit;
  font-weight: $badge-tag-font-weight;
  color: $badge-tag-color;
  background-color: $badge-tag-background-color;
  border-radius: $badge-tag-border-radius;

  &.is-master-tag {
    color: #ffffff;
    background-color: $badge-tag-master-background-color;
  }
}

a.badge.is-tag:hover {
  text-decoration: none !important;
  background-color: darken($badge-tag-background-color, 5%);

  &.is-master-tag {
    color: #ffffff;
    background-color: darken($badge-tag-master-background-color, 5%);
  }
}

.badge.is-award {
  display: inline-block;
  padding: $padding-unit 2*$padding-unit;
  font-weight: 500;
  color: darken($tertiary-color, 25%);
  background-color: lighten($tertiary-color, 40%);
  border: 1px solid lighten($tertiary-color, 35%);
  border-radius: 3px;

  .badge--icon {
    margin-right: $margin-unit;
  }

  &.is-gold .badge--icon {
    color: #cc0;
  }

  &.is-silver .badge--icon {
    color: #ccc;
  }

  &.is-bronze .badge--icon {
    color: #c73;
  }

  &:hover {
    text-decoration: none;
  }
}


.badge.is-user-role {
  display: inline-block;
  font-size: 12px;
  padding: $padding-unit*0.75 $padding-unit*1.5;
  border-radius: 2px;
  background-color: darken($primary-color, 20%);
  color: white;
  font-weight: bold;
}

.badge.is-user-trust-level {
  display: inline-block;
  font-size: 14px;
  min-width: 20px;
  text-align: center;
  padding: $padding-unit*0.25 $padding-unit*1.5;
  border-radius: 20px;
  background-color: darken($primary-color, 20%);
  color: white;
  font-weight: bold;
}
