.button {
  font-size: 0.9em;
  font-family: inherit;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;

  background-color: lighten($button-primary-color, 32.5%);

  color: darken($button-primary-color, 30%);
  padding: $padding-unit*1.5 $padding-unit*3;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  margin: $margin-unit * 0.5;

  &:hover {
    background-color: lighten($button-primary-color, 30%)
  }

  &:active {
    background-color: lighten($button-primary-color, 25%)
  }

  &.is-outlined {
    background-color: #ffffff;
    border-color: darken($button-primary-color, 20%);

    &:hover {
      background-color: lighten($button-primary-color, 32.5%)
    }

    &:active {
      background-color: lighten($button-primary-color, 30%)
    }
  }

  &.is-filled {
    background-color: darken($button-primary-color, 15%);
    color: white;

    &:hover {
      background-color: darken($button-primary-color, 25%);
    }

    &:active {
      background-color: darken($button-primary-color, 35%);
    }
  }


  &.is-danger {
    background-color: lighten($button-danger-color, 32.5%);
    color: darken($button-danger-color, 30%);

    &:hover {
      background-color: lighten($button-danger-color, 30%)
    }

    &:active {
      background-color: lighten($button-danger-color, 25%)
    }

    &.is-outlined {
      background-color: transparent;
      border-color: darken($button-danger-color, 20%);

      &:hover {
        background-color: lighten($button-danger-color, 32.5%)
      }

      &:active {
        background-color: lighten($button-danger-color, 30%)
      }
    }

    &.is-filled {
      background-color: darken($button-danger-color, 15%);
      color: white;

      &:hover {
        background-color: darken($button-danger-color, 25%);
      }

      &:active {
        background-color: darken($button-danger-color, 35%);
      }
    }
  }


  &.is-muted {
    background-color: lighten($button-muted-color, 35%);
    color: darken($button-muted-color, 30%);

    &:hover {
      background-color: lighten($button-muted-color, 32.5%)
    }

    &:active {
      background-color: lighten($button-muted-color, 27.5%)
    }

    &.is-outlined {
      background-color: transparent;
      border-color: darken($button-muted-color, 20%);

      &:hover {
        background-color: lighten($button-muted-color, 35%)
      }

      &:active {
        background-color: lighten($button-muted-color, 30%)
      }
    }

    &.is-filled {
      background-color: darken($button-muted-color, 10%);
      color: white;

      &:hover {
        background-color: darken($button-muted-color, 20%);
      }

      &:active {
        background-color: darken($button-muted-color, 30%);
      }
    }
  }


  &.is-small {
    font-size: 0.8em;
    padding: $padding-unit*1 $padding-unit*2;
  }
  &.is-medium {
    font-size: 1.0em;
    padding: $padding-unit*1.75 $padding-unit*3.5;
  }
  &.is-large {
    font-size: 1.1em;
    padding: $padding-unit*2 $padding-unit*4;
  }
  &.is-very-large {
    font-size: 1.2em;
    padding: $padding-unit*2.25 $padding-unit*4.5;
  }
  &.is-extremely-large {
    font-size: 1.4em;
    padding: $padding-unit*2.5 $padding-unit*5;
  }
}
