/* Typography */

$font-stack-primary: "Red Hat Display", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-code: "Consolas", "Courier New", monospace;

$font-size-gradient: (
  "small": 10px,
  "caption": 13px,
  "base": 16px,
  "larger": 19px,
  "subheading": 22px,
  "heading": 25px,
  "subtitle": 28px,
  "title": 31px,
  "display": 34px,
);

$font-size-h1: map-get($font-size-gradient, title);
$font-size-h2: map-get($font-size-gradient, heading);
$font-size-h3: map-get($font-size-gradient, larger);
$font-size-h4: map-get($font-size-gradient, base);
$font-size-h5: map-get($font-size-gradient, caption);
$font-size-h6: map-get($font-size-gradient, small);

/* Layout */

$layout-container-width: 72rem;

$margin-h1: 18px 0;
$margin-h2: 15px 0;
$margin-h3: 12px 0;
$margin-h4: 9px 0;
$margin-h5: 6px 0;
$margin-h6: 3px 0;

$margin-p: 9px 0;

$margin-unit: 4px;
$padding-unit: 4px;


/* Grid */
$grid-column-count: 12;
$grid-column-gap: 10px;

$grid-small-to-medium-breakpoint: 32rem;
$grid-medium-to-large-breakpoint: 64rem;


/* Color */

$color-gradient-stops: (
  "050": 30%,
  "100": 25%,
  "200": 15%,
  "300": 5%,
  "400": 0%,
  "500": -5%,
  "600": -15%,
  "700": -25%,
  "800": -35%
);

$primary-color: #4B68FF;
$secondary-colors: (
  "red": #FF4343,
  "teal": #4DB6AC,
  "yellow": #FDD835,
  "green": #2ECC71
);
$tertiary-color: #78909C;

$link-color: #2980B9;
$quote-color: #7f8C8D;


/* Buttons */
$button-primary-color: $primary-color;
$button-danger-color: map-get($secondary-colors, "red");
$button-muted-color: $tertiary-color;

$button-icon-only-default-color: $tertiary-color;


/* Forms */
$form-color: $tertiary-color;
$form-danger-color: map-get($secondary-colors, "red");

/* Modals */
$modal-width: 48rem;
