/* Typography */

$font-stack-primary: "Red Hat Display", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-code: "Consolas", "Courier New", monospace;

$font-size-h1: 2.25em;
$font-size-h2: 1.75em;
$font-size-h3: 1.375em;
$font-size-h4: 1em;
$font-size-h5: 0.9em;
$font-size-h6: 0.8em;


/* Layout */

$layout-container-width: 72em;

$margin-h1: 18px 0;
$margin-h2: 15px 0;
$margin-h3: 12px 0;
$margin-h4: 9px 0;
$margin-h5: 6px 0;
$margin-h6: 3px 0;

$margin-p: 9px 0;

$margin-unit: 10px;
$padding-unit: 10px;


/* Color */

$color-gradient-stops: (
  "050": 30%,
  "100": 25%,
  "200": 15%,
  "300": 5%,
  "400": 0%,
  "500": -5%,
  "600": -15%,
  "700": -25%,
  "800": -35%
);

$primary-color: #4B68FF;
$secondary-colors: (
  "red": #FF4343,
  "teal": #4DB6AC,
  "yellow": #FDD835,
  "green": #2ECC71
);
$tertiary-color: #78909C;
