/* Typography */
$font-stack-primary: "Red Hat Display", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-code: "Consolas", "Courier New", monospace;

$font-size-gradient: (
  "small": 10px,
  "caption": 13px,
  "base": 16px,
  "larger": 19px,
  "subheading": 22px,
  "heading": 25px,
  "subtitle": 28px,
  "title": 31px,
  "display": 34px,
);

$font-size-h1: map-get($font-size-gradient, ltitle);
$font-size-h2: map-get($font-size-gradient, heading);
$font-size-h3: map-get($font-size-gradient, larger);
$font-size-h4: map-get($font-size-gradient, base);
$font-size-h5: map-get($font-size-gradient, caption);
$font-size-h6: map-get($font-size-gradient, small);

/* Layout */
$layout-container-width: 72rem;

$margin-h1: 18px 0;
$margin-h2: 15px 0;
$margin-h3: 12px 0;
$margin-h4: 9px 0;
$margin-h5: 6px 0;
$margin-h6: 3px 0;

$margin-p: 9px 0;

$margin-unit: 4px;
$padding-unit: 4px;

/* Grid */
$grid-column-count: 12;
$grid-column-gap: 10px;

$grid-small-to-medium-breakpoint: 32rem;
$grid-medium-to-large-breakpoint: 64rem;

/* Color */
$color-gradient-stops: (
  "050": 30%,
  "100": 25%,
  "200": 15%,
  "300": 5%,
  "400": 0%,
  "500": -5%,
  "600": -15%,
  "700": -25%,
  "800": -35%
);

$primary-color: #4B68FF;
$secondary-colors: (
  "red": #FF4343,
  "teal": #4DB6AC,
  "yellow": #FDD835,
  "green": #2ECC71
);
$tertiary-color: #78909C;

$link-color: #2980B9;
$quote-color: #7f8C8D;

$box-shadow-color: #cccccc;

/* Badges */

$badge-tag-font-size: 14px;
$badge-tag-padding-x: 2; // in padding units
$badge-tag-padding-y: 1; // in padding units
$badge-tag-font-weight: 500;
$badge-tag-color: darken($primary-color, 35%);
$badge-tag-background-color: lighten($primary-color, 30%);
$badge-tag-master-background-color: darken($primary-color, 30%);
$badge-tag-border-radius: 3px;

$badge-award-font-size: 16px;
$badge-award-padding-x: 2; // in padding units
$badge-award-padding-y: 1; // in padding units
$badge-award-font-weight: 500;
$badge-award-color: darken($tertiary-color, 25%);
$badge-award-background-color: lighten($tertiary-color, 40%);
$badge-award-border-color: lighten($tertiary-color, 35%);
$badge-award-border-width: 1px;
$badge-award-border-radius: 3px;
   $badge-award-gold-color: #cc0;
   $badge-award-silver-color: #ccc;
   $badge-award-bronze-color: #c73;

$badge-role-font-size: 0.75em;
$badge-role-padding-x: 1.5; // in padding units
$badge-role-padding-y: 0.75; // in padding units
$badge-role-font-weight: 700;
$badge-role-background-color: darken($primary-color, 20%);
$badge-role-color: white;
$badge-role-border-radius: 2px;

$badge-tl-font-size: 14px;
$badge-tl-min-width: 20px;
$badge-tl-padding-x: 1.5; // in padding units
$badge-tl-padding-y: 0.25; // in padding units
$badge-tl-font-weight: 700;
$badge-tl-border-radius: 20px;
$badge-tl-background-color: darken($primary-color, 20%);
$badge-tl-color: white;

/* Buttons */
$button-primary-color: $primary-color;
$button-danger-color: map-get($secondary-colors, "red");
$button-muted-color: $tertiary-color;

$button-icon-only-default-color: $tertiary-color;

/* Forms */
$form-color: $tertiary-color;
$form-danger-color: map-get($secondary-colors, "red");

/* Modals */
$modal-width: 48rem;

/* Footer */
$footer-padding: 4; // in padding units
$footer-top-margin: 2; // in margin units

$footer-top-border-width: 1px;

$footer-color: #666666;
$footer-border-color: #dddddd;
$footer-background-color: #f6f6f6;
