/* Typography */

$font-stack-primary: "Red Hat Display", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-stack-code: "Consolas", "Courier New", monospace;

$font-size-h1: 2.5em;
$font-size-h2: 2em;
$font-size-h3: 1.5em;
$font-size-h4: 1em;
$font-size-h5: 0.9em;
$font-size-h6: 0.8em;


/* Layout */

$margin-h1: 18px 0;
$margin-h2: 15px 0;
$margin-h3: 12px 0;
$margin-h4: 9px 0;
$margin-h5: 6px 0;
$margin-h6: 3px 0;

$margin-p: 9px 0;
