.footer {
  padding: 4*$padding-unit;
  border-top: 1px solid #dddddd;
  color: #666666;

  margin-top: 2 * $margin-unit;

  &.is-inverted {
    border-top: none;
    background-color: #f6f6f6;
  }
}
