.header {
  padding: $padding-unit * 4;
  margin-bottom: $margin-unit * 4;

  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 3px 2px 0 #ddd;

  font-weight: bold;

  a:link, a:visited {
    color: inherit;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none !important;
    transition: all .3s ease;

    &:hover, &:active {
      color: inherit;
      box-shadow: 0 2px 4px 1px #dddddd;
      text-decoration: none;
    }
  }

  .header--container {
    display: flex;
    align-items: flex-end;
    padding: 0;
    flex-wrap: wrap;
  }

  .header--brand {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header--instance-name {
      font-size: 1rem;
    }

    .header--site-name {
      font-size: 2.5rem;
    }

    & + .header--menu {
      margin-left: 6 * $margin-unit;
    }
  }

  .header--menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    flex-wrap: wrap;

    .header--separator { flex-grow: 1; }

    .header--item {
      padding: $margin-unit $margin-unit * 2;
      margin: 0 $margin-unit;
      cursor: pointer;
      font: inherit;
      color: #aaaaaa;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      transition: all .3s ease;
      position: relative;
      text-decoration: none !important;

      &:hover, &.is-active {
        color: #333333;
      }

      &.is-mobile-menu { display: none; }

      .header--alert {
        background-color: $primary-color;
        color: #ffffff;
        font-size: 13px;
        min-width: 1.5em;
        height: 1.5em;
        padding: 0.125em;
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        margin: 0 5px;
      }

      &.is-complex .header--alert {
        position: absolute;
        top: -2px;
        left: -5px;
      }

      .header--trust-level {
        color: #ffffff;
        font-size: 30px;
        opacity: 0.9;
        text-shadow: 0 0 1px #000000;
        min-width: 1.5em;
        height: 1.5em;
        padding: 0.5 * $padding-unit;
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        margin: 0 $margin-unit;
        position: absolute;
        bottom: -2px;
        right: -7px;
      }

      .header--item-icon,
      .header--item-image {
        height: 40px;
        width: 40px;
      }

      .header--menu-bars {
        display: flex;
        flex-direction: column;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;

        span {
          width: 2em;
          height: 0.333333333em;
          margin: 0.166666667em 0;
          background-color: #dddddd;
          transition: all .3s ease;
        }

      }
      &:hover, &.is-active {
        .header--menu-bars span { background-color: #666666; }
      }
    }
  }
}


@media all and (max-width: $grid-small-to-medium-breakpoint) {
  .header {
    .header--brand {
      .header--site-name {
        font-size: 2em;
      }
    }
    .header--menu .header--item {
      display: none;

      &.is-mobile-menu,
      &.is-visible-on-mobile {
        display: block;
      }
    }
  }
}


.header-slide {
  position: absolute;
  top: 65px;
  right: 20px;
  width: 100%;
  max-width: 300px;
  background-color: white;

  padding: 3 * $padding-unit;

  font-weight: bold;

  border: 1px solid #eeeeee;
  box-shadow: 0 3px 2px -2px #ddd;

  display: none;

  &.is-active { display: block; }

  a:link, a:visited {
    margin: $margin-unit 0;
    padding: 0.5rem 1rem;

    cursor: pointer;
    font: inherit;
    color: #888888;
    background-color: transparent;
    border: none;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    text-decoration: none !important;

    display: block;
    width: 100%;

    &:hover,
    &:active {
      color: #333333;
      box-shadow: 0 1.5px 4px 0px #dddddd;
      text-decoration: none;
    }
  }

  .header--separator {
    border-bottom: 1px solid #dddddd;
    margin: $margin-unit 0;
  }
}
