.item-list {
  display: flex;
  flex-direction: column;

  align-items: stretch;


  .item-list--item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lighten($tertiary-color, 30%);

    &.is-highlighted {
      background-color: lighten($primary-color, 32.5%);
    }

    .item-list--number-value {
      padding: $padding-unit;
      margin: $margin-unit;

      height: 20*$padding-unit;
      width: 30*$padding-unit;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .item-list--number {
        font-size: 25px;
        color: #222222;
      }

      .item-list--number-label {
        font-size: 14px;
        color: #666666;
      }
    }

    .item-list--text-value {
      padding: 2 * $padding-unit;
      margin: 2 * $margin-unit;

      height: 20*$padding-unit;
      width: 50*$padding-unit;

      align-self: stretch;
    }

    .item-list--image-value {
      margin: $margin-unit;

      width: 10*$padding-unit;
      height: 10*$padding-unit;

      img { border-radius: 50%; }

    }

    .is-primary {
      flex-grow: 1;
    }
  }
}


@media all and (max-width: $grid-small-to-medium-breakpoint) {
  .item-list .item-list--item {
    flex-wrap: wrap;
    justify-content: center;

    &>.is-primary {
      width: 100%;
      height: auto;
      margin: 0 2*$margin-unit;
    }

    &>:not(.is-primary) {
      font-size: 0.9em;
      margin: $margin-unit 2*$margin-unit;

      &.item-list--image-value {
        margin: 2*$margin-unit $margin-unit;
      }

      &.item-list--text-value {
        height: auto;
        width: auto;
      }

      &.item-list--number-value {
        flex-direction: row;
        height: auto;
        width: auto;


        .item-list--number {
          font-size: 1.1em;
          margin: 0 $margin-unit;
        }
      }
    }
  }
}
