* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $layout-container-width;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $grid-column-gap / -2;
  max-width: calc(100% - $grid-column-gap);

  &.is-nowrap {
    flex-wrap: nowrap;
  }

  .grid--cell {
    flex-grow: 0;
    flex-shrink: 0;
    padding: $grid-column-gap / 2;

    &.is-flexible {
      flex-grow: 1;
      flex-shrink: 1;
    }

    @for $i from 1 through $grid-column-count {
      &.is-#{$i} {
        width: 100% * $i / $grid-column-count;
      }
    }


    @media all and (max-width: $grid-small-to-medium-breakpoint) {
      @for $i from 1 through $grid-column-count {
        &.is-#{$i}-sm {
          width: 100% * $i / $grid-column-count;
        }
      }
    }

    @media all and (min-width: $grid-small-to-medium-breakpoint) and (max-width: $grid-medium-to-large-breakpoint) {
      @for $i from 1 through $grid-column-count {
        &.is-#{$i}-md {
          width: 100% * $i / $grid-column-count;
        }
      }
    }

    @media all and (min-width: $grid-medium-to-large-breakpoint) {
      @for $i from 1 through $grid-column-count {
        &.is-#{$i}-lg {
          width: 100% * $i / $grid-column-count;
        }
      }
    }

  }
}
