.tabs {
  padding: $tabs-padding*$padding-unit;
  display: flex;
  flex-wrap: wrap;

  .tabs--item {
    display: block;
    font-weight: $tabs-font-weight;
    color: $tabs-color;
    text-decoration: none !important;
    padding: $tabs-item-padding-y*$padding-unit $tabs-item-padding-x*$padding-unit;
    margin: $tabs-item-margin*$padding-unit;

    &:hover {
      background-color: $tabs-hover-background-color;
      color: $tabs-hover-color;
    }

    &.is-active {
      background-color: $tabs-active-background-color;
      color: $tabs-active-color;
    }
  }
}
