html {
  font-family: $font-stack-primary;
  font-size: $font-size;
}

h1 {
  font-size: $font-size-h1;
  font-weight: bold;
  margin: $margin-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: bold;
  margin: $margin-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: bold;
  margin: $margin-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: bold;
  margin: $margin-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: bold;
  margin: $margin-h5;
}

h6 {
  font-size: $font-size-h6;
  font-weight: bold;
  margin: $margin-h6;
}

p {
  line-height: 1.5;
  margin: $margin-p;

  &.is-lead {
    font-size: $p-lead-font-size;
    color: $p-lead-color;
  }
}

ul li, ol li {
  line-height: 1.5;
}

@each $key, $value in $font-size-gradient {
  .has-font-size-#{$key} {
    font-size: $value;
  }
}

a:link, a:visited, .link {
  color: $link-color;
  text-decoration: none;
  transition: $default-transition;
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;

  &:hover, &:active {
    color: darken($link-color, 20%);
    text-decoration: underline;
  }

  @each $key, $value in $secondary-colors {
    &.is-#{$key} {
      color: darken($value, 15%);

      &:hover, &:active {
        color: darken($value, 30%);
      }
    }
  }

  &.is-muted {
    color: lighten($tertiary-color, 10%);

    &:hover {
      color: darken($tertiary-color, 10%);
    }
  }

  &.is-not-underlined:hover {
    text-decoration: none;
  }

  &.is-underlined {
    text-decoration: underline;
  }
}

.has-font-family-primary { font-family: $font-stack-primary; }
.has-font-family-code { font-family: $font-stack-code; }

.has-font-weight-normal { font-weight: 400; }
.has-font-weight-medium { font-weight: 500; }
.has-font-weight-bold { font-weight: 700; }
.has-font-weight-black { font-weight: 900; }

.has-font-style-normal { font-style: normal; }
.has-font-style-italic { font-style: italic; }

.has-text-align-left { text-align: left; }
.has-text-align-center { text-align: center; }
.has-text-align-right { text-align: right; }
.has-text-align-justify { text-align: justify; }

code {
  display: inline;
  border: $code-border-width solid $code-border-color;
  border-radius: $code-border-radius;
  padding: $code-padding-y*$padding-unit $code-padding-x*$padding-unit;

  font-family: $font-stack-code;
  font-size: $code-font-size;
}

pre {
  display: block;
  border: $code-border-width solid $code-border-color;
  border-radius: $code-border-radius;
  padding: $code-block-padding * $padding-unit;

  font-family: $font-stack-code;
  font-size: $code-font-size;
  max-height: $code-block-max-height;
  overflow: auto;

  line-height: 1.5;

  code {
    display: block;
    border: none;
    padding: 0;
    font-size: 1em;
  }
}

blockquote {
  margin: $quote-margin-y*$margin-unit $quote-margin-x*$margin-unit;
  padding: $quote-padding-y*$padding-unit $quote-padding-x*$padding-unit;
  background-color: $quote-background-color;
  border: $quote-border-width solid $quote-border-color;

  border-radius: $quote-border-radius;
  border-bottom-left-radius: 0;

  h1, h2, h3, h4, h5, h6, p {
    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
  }
}


table.table {
  border-collapse: collapse;
  padding: $padding-unit;
  max-width: 100%;

  &.is-full-width {
    width: 100%;
  }

  th {
    border-bottom: $table-th-border-width solid $table-border-color;
    padding: $table-padding-y*$padding-unit $table-padding-x*$padding-unit;
    font-weight: $table-th-font-weight;
    text-align: left;
  }

  td {
    border-bottom: $table-td-border-width solid $table-border-color;
    padding: $table-padding-y*$padding-unit $table-padding-x*$padding-unit;
    text-align: left;
  }

  th, td {
    &:not(:last-child) {
      border-right: $table-td-border-width solid $table-border-color;
    }
  }

  &.is-compact {
    th, td {
      padding: $table-compact-padding-y*$padding-unit $table-compact-padding-x*$padding-unit;
    }
  }

  &.is-striped tr:nth-of-type(2n+1) td {
    background-color: $table-stripe-background-color;
  }

  &.is-with-hover tr:hover td {
    background-color: $table-hover-background-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}
