html {
  font-family: $font-stack-primary;
  font-size: 16px;
}

h1 {
  font-size: $font-size-h1;
  font-weight: bold;
  margin: $margin-h1;
}
h2 {
  font-size: $font-size-h2;
  font-weight: bold;
  margin: $margin-h2;
}
h3 {
  font-size: $font-size-h3;
  font-weight: bold;
  margin: $margin-h3;
}
h4 {
  font-size: $font-size-h4;
  font-weight: bold;
  margin: $margin-h4;
}
h5 {
  font-size: $font-size-h5;
  font-weight: bold;
  margin: $margin-h5;
}
h6 {
  font-size: $font-size-h6;
  font-weight: bold;
  margin: $margin-h6;
}

p {
  line-height: 1.5;
  margin: $margin-p;

  &.is-lead {
    font-size: 1.2em;
  }
}



@each $key, $value in $font-size-gradient {
  .has-font-size-#{$key} {
    font-size: $value;
  }
}



a, .link {
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    color: darken($link-color, 20%);
    text-decoration: underline;
  }

  @each $key, $value in $secondary-colors {
    &.is-#{$key} {
      color: darken($value, 15%);

      &:hover {
        color: darken($value, 30%);
      }
    }
  }

  &.is-muted {
    color: lighten($tertiary-color, 10%);

    &:hover {
      color: darken($tertiary-color, 10%);
    }
  }

  &.is-without-underline:hover {
    text-decoration: none;
  }

  &.is-with-underline {
    text-decoration: underline;
  }
}

.has-font-family-normal { font-family: $font-stack-primary; }
.has-font-family-code { font-family: $font-stack-code; }

.has-font-weight-normal { font-weight: 400; }
.has-font-weight-medium { font-weight: 500; }
.has-font-weight-bold { font-weight: 700; }
.has-font-weight-black { font-weight: 900; }

.has-font-style-normal { font-style: normal; }
.has-font-style-italic { font-style: italic; }


code {
  display: inline;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5 * $padding-unit $padding-unit;

  font-family: $font-stack-code;
  font-size: 0.95em;
}

pre {
  display: block;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2 * $padding-unit;

  font-family: $font-stack-code;
  font-size: 0.95em;

  line-height: 1.5;

  code {
    display: block;
    border: none;
    padding: 0;
    font-size: 1em;
  }
}


table.table {
  border-collapse: collapse;
  padding: $padding-unit;
  max-width: 100%;

  &.is-full-width {
    width: 100%;
  }

  th {
    border-bottom: 3px solid #cccccc;
    padding: 1.5 * $padding-unit 2.5 * $padding-unit;
    font-weight: bold;
    text-align: left;
  }
  td {
    border-bottom: 1px solid #cccccc;
    padding: 1.5 * $padding-unit 2.5 * $padding-unit;
    text-align: left;
  }
  th, td { &:not(:last-child) {
    border-right: 1px solid #cccccc;
  }}

  &.is-compact { th, td {
    padding: 0.5 * $padding-unit 1.5 * $padding-unit;
  }}

  &.is-striped tr:nth-of-type(2n+1) td {
    background-color: #f6f6f6;
  }

  &.is-with-hover tr:hover td {
    background-color: #eeeeee;
  }
}
