.widget {
  border: 1px solid lighten($tertiary-color, 30%);
  border-radius: 2px;
  box-shadow: 0 3px 5px -2px #eeeeee;

  .widget--header {
    padding: 3 * $padding-unit;
    font-size: 1.2em;
    border-bottom: 1px solid lighten($tertiary-color, 30%);

    &.is-complex {
      font-size: 1em;
    }

    .widget--header-link {
      float: right;
      font-size: 0.8em;
      padding: $padding-unit*0.75 $padding-unit;
    }
  }

  .widget--body {
    padding: 3 * $padding-unit;

    & + .widget--body {
      border-top: 1px solid lighten($tertiary-color, 30%);
    }
  }

  .widget--footer {
    padding: 3 * $padding-unit;
    border-top: 1px solid lighten($tertiary-color, 30%);
  }
}
