.badge.is-tag,
.badge-tag {
  display: inline-block;
  font-size: $badge-tag-font-size;
  padding: $badge-tag-padding-y*$padding-unit $badge-tag-padding-x*$padding-unit;
  font-weight: $badge-tag-font-weight;
  color: var(--badge-tag-color);
  background-color: var(--badge-tag-background-color);
  border-radius: $badge-tag-border-radius;

  &.is-master-tag, /* DEPRECATED */
  &.is-filled {
    color: var(--badge-tag-filled-color);
    background-color: var(--badge-tag-filled-background-color);
  }

  @each $name, $value in $badge-tag-alternative-colors {
    &.is-#{$name} {
      background-color: var(--badge-tag-#{$name}-background-color);
      color: var(--badge-tag-#{$name}-color);

      &.is-master-tag, /* DEPRECATED */
      &.is-filled {
        background-color: var(--badge-tag-filled-#{$name}-background-color);
        color: var(--badge-tag-filled-#{$name}-color);
      }
    }
  }

  &.is-small {
    padding: $badge-tag-padding-y*$padding-unit*0.5 $badge-tag-padding-x*$padding-unit*0.5;
    line-height: 1;
  }
}

a.badge.is-tag:hover,
a.badge-tag:hover {
  text-decoration: none !important;
  background-color: var(--badge-tag-a-hover-background-color);

  &.is-master-tag, /* DEPRECATED */
  &.is-filled {
    color: var(--badge-tag-filled-a-hover-color);
    background-color: var(--badge-tag-filled-a-hover-background-color);
  }

  @each $name, $value in $badge-tag-alternative-colors {
    &.is-#{$name} {
      background-color: var(--badge-tag-a-hover-#{$name}-background-color);

      &.is-master-tag, /* DEPRECATED */
      &.is-filled {
        background-color: var(--badge-tag-filled-a-hover-#{$name}-background-color);
        color: var(--badge-tag-filled-a-hover-#{$name}-color);
      }
    }
  }
}

.badge.is-award,
.badge-award {
  display: inline-block;
  padding: $badge-award-padding-y*$padding-unit $badge-award-padding-x*$padding-unit;
  font-weight: $badge-award-font-weight;
  font-size: $badge-award-font-size;
  color: var(--badge-award-color);
  background-color: var(--badge-award-background-color);
  border: $badge-award-border-width solid var(--badge-award-border-color);
  border-radius: $badge-award-border-radius;

  .badge--icon {
    margin-right: $margin-unit;
  }

  &.is-gold .badge--icon {
    color: var(--badge-award-gold-color);
  }

  &.is-silver .badge--icon {
    color: var(--badge-award-silver-color);
  }

  &.is-bronze .badge--icon {
    color: var(--badge-award-bronze-color);
  }

  &:hover {
    text-decoration: none;
  }
}


.badge.is-user-role,
.badge-user-role {
  display: inline-block;
  font-size: $badge-role-font-size;
  padding: $badge-role-padding-y*$padding-unit $badge-role-padding-x*$padding-unit;
  border-radius: $badge-role-border-radius;
  background-color: var(--badge-role-background-color);
  color: var(--badge-role-color);
  font-weight: $badge-role-font-weight;

  &.is-muted {
    background-color: var(--badge-role-muted-background-color);
    color: var(--badge-role-muted-color);
  }
}

.badge.is-user-trust-level,
.badge-user-trust-level {
  display: inline-block;
  font-size: $badge-tl-font-size;
  min-width: $badge-tl-min-width;
  text-align: center;
  padding: $badge-tl-padding-y*$padding-unit $badge-tl-padding-x*$padding-unit;
  border-radius: $badge-tl-border-radius;
  background-color: var(--badge-tl-background-color);
  color: var(--badge-tl-color);
  font-weight: $badge-tl-font-weight;

  &.is-muted {
    background-color: var(--badge-tl-muted-background-color);
    color: var(--badge-tl-muted-color);
  }
}


.badge.is-status {
  background-color: rgba(0,0,0,0.2);
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.1em 0.3em;
  min-width: 1.5em;
  margin: 0 0.3em;
  border-radius: 4px;
  line-height: 1;
  text-align: center;

  &:empty {
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    min-width: 0;
    background-color: rgba(0,0,0,0.4);
  }
}