.bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: $bar-max-height;
    overflow: auto;
    @include theme-switch-val($bar-background-color,$bar-background-color-dark) using ($val){
        background-color: $val;
    }
    @include theme-switch-val($bar-border-color,$bar-border-color-dark) using ($val){
        border-top: $bar-border-width solid $val;
    }

    .bar--container {
        padding: $bar-padding * $padding-unit;
    }

    & > .button.is-close-button {
        position: absolute;
        font-size: 2*$close-button-font-size !important;
        right: 0.5rem;
        top: 1rem;
        line-height: 0.75;
    }
}
