.button, a.button:link, a.button:visited {
  font-size: map-get($button-default-size, fs);
  font-family: inherit;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  background-color: lighten($button-primary-color, 32.5%);
  color: darken($button-primary-color, 30%);
  padding: $padding-unit*map-get($button-default-size, py) $padding-unit*2*map-get($button-default-size, py);
  font-weight: $button-font-weight;
  border-radius: $button-border-radius;
  border: $button-border-width $button-border-style transparent;
  transition: $default-transition;
  margin: $margin-unit * $button-margin;

  &:hover {
    background-color: lighten($button-primary-color, 30%);
    color: darken($button-primary-color, 30%);
  }

  &:active, &.is-active {
    background-color: lighten($button-primary-color, 25%);
    color: darken($button-primary-color, 30%);
  }

  &.is-outlined {
    background-color: #ffffff;
    border-color: lighten($button-primary-color, 5%);

    &:hover {
      background-color: lighten($button-primary-color, 32.5%);
      border-color: darken($button-primary-color, 15%);
    }

    &:active, &.is-active {
      background-color: lighten($button-primary-color, 30%);
      border-color: darken($button-primary-color, 25%);
    }
  }

  &.is-filled {
    background-color: darken($button-primary-color, 15%);
    color: white;

    &:hover {
      background-color: darken($button-primary-color, 25%);
      color: white;
    }

    &:active, &.is-active {
      background-color: darken($button-primary-color, 35%);
      color: white;
    }
  }


  &.is-danger {
    background-color: lighten($button-danger-color, 32.5%);
    color: darken($button-danger-color, 30%);

    &:hover {
      background-color: lighten($button-danger-color, 30%);
      color: darken($button-danger-color, 30%);
    }

    &:active, &.is-active {
      background-color: lighten($button-danger-color, 25%);
      color: darken($button-danger-color, 30%);
    }

    &.is-outlined {
      background-color: #ffffff;
      border-color: lighten($button-danger-color, 5%);

      &:hover {
        background-color: lighten($button-danger-color, 32.5%);
        border-color: darken($button-danger-color, 15%);
      }

      &:active, &.is-active {
        background-color: lighten($button-danger-color, 30%);
        border-color: darken($button-danger-color, 25%);
      }
    }

    &.is-filled {
      background-color: darken($button-danger-color, 15%);
      color: white;

      &:hover {
        background-color: darken($button-danger-color, 25%);
        color: white;
      }

      &:active, &.is-active {
        background-color: darken($button-danger-color, 35%);
        color: white;
      }
    }
  }


  &.is-muted {
    background-color: lighten($button-muted-color, 40%);
    color: darken($button-muted-color, 30%);

    &:hover {
      background-color: lighten($button-muted-color, 37.5%);
      color: darken($button-muted-color, 30%);
    }

    &:active, &.is-active {
      background-color: lighten($button-muted-color, 32.5%);
      color: darken($button-muted-color, 30%);
    }

    &.is-outlined {
      background-color: #ffffff;
      border-color: lighten($button-muted-color, 5%);

      &:hover {
        background-color: lighten($button-muted-color, 40%);
        border-color: darken($button-muted-color, 15%);
      }

      &:active, &.is-active {
        background-color: lighten($button-muted-color, 35%);
        border-color: darken($button-muted-color, 25%);
      }
    }

    &.is-filled {
      background-color: darken($button-muted-color, 10%);
      color: white;

      &:hover {
        background-color: darken($button-muted-color, 20%);
        color: white;
      }

      &:active, &.is-active {
        background-color: darken($button-muted-color, 30%);
        color: white;
      }
    }
  }


  @each $size, $size-def in $button-sizes {
    &.is-#{$size} {
      font-size: map-get($size-def, fs);
      padding: $padding-unit*map-get($size-def, py) $padding-unit*2*map-get($size-def, py);
    }
  }


  &.is-close-button {
    background-color: transparent;
    color: $close-button-color;
    font-size: $close-button-font-size !important;
    padding: $padding-unit*$close-button-padding-y $padding-unit*$close-button-padding-x;
    line-height: 1;
    margin-top: -$padding-unit;

    &:hover,
    &:active,
    &.is-active {
      color: $close-button-hover-color;
    }

    &:active, &.is-active {
      background-color: $close-button-active-background-color;
    }
  }

  &[disabled] {
    filter: grayscale(1.0) opacity(0.7);
    cursor: not-allowed;
  }
}

.modal--header-button,
.widget--header-button {
  .button.is-close-button {
    margin-top: 0;
  }
}

.notice .is-close-button {
  float: right;
}



.button-list {
  display: flex;
  flex-wrap: wrap;

  &.is-gutterless .button {
    border-radius: 0;
    margin: 0;
    position: relative;
    margin-right: -$button-border-width;
    z-index: 0;

    &:first-of-type {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
      margin-right: 0;
    }

    &:hover, &:active, &.is-active {
      z-index: $button-list-elevated-z-index;
    }
  }
}


.button.is-icon-only-button {
  background-color: transparent !important;
  color: lighten($button-icon-only-default-color, 10%);
  padding: $icon-button-padding;

  line-height: 1;

  font-size: 1em;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;

  @each $size, $size-def in $button-sizes {
    &.is-#{$size} {
      font-size: map-get($size-def, fs);
    }
  }

  &:hover {
    color: darken($button-primary-color, 5%);
  }

  &:active,
  &.is-active {
    color: darken($button-primary-color, 20%);
  }

  &.is-danger {
    color: lighten($button-danger-color, 15%);


    &:hover {
      color: darken($button-danger-color, 5%);
    }

    &:active,
    &.is-active {
      color: darken($button-danger-color, 20%);
    }
  }

  &.is-muted {
    color: lighten($button-muted-color, 17.5%);


    &:hover {
      color: darken($button-muted-color, 5%);
    }

    &:active,
    &.is-active {
      color: darken($button-muted-color, 20%);
    }
  }

  &:active:not(:hover),
  &.is-active:not(:hover) {
    background: transparent;
  }
}
