.button, a.button:link, a.button:visited {
  font-size: map-get($button-default-size, fs);
  font-family: inherit;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  background-color: var(--button-primary-background-color);
  color: var(--button-primary-text-color);
  padding: $padding-unit*map-get($button-default-size, py) $padding-unit*2*map-get($button-default-size, py);
  font-weight: $button-font-weight;
  border-radius: $button-border-radius;
  border: $button-border-width $button-border-style transparent;
  transition: $default-transition;
  margin: $margin-unit * $button-margin;
  
  &:hover {
    background-color: var(--button-hover-primary-background-color);
    color: var(--button-hover-primary-text-color);
  }

  &:active, &.is-active {
    background-color: var(--button-active-primary-background-color);
    color: var(--button-active-primary-text-color);
  }

  &.is-outlined {
    background-color: var(--button-outline-primary-background-color);
    border-color: var(--button-outline-primary-border-color);

    &:hover {
      background-color: var(--button-outline-hover-primary-background-color);
      border-color: var(--button-outline-hover-primary-border-color);
    }

    &:active, &.is-active {
      background-color: var(--button-outline-active-primary-background-color);
      border-color: var(--button-outline-active-primary-border-color);
    }
  }

  &.is-filled {
    background-color: var(--button-filled-primary-background-color);
    color: var(--button-filled-primary-text-color);

    &:hover {
      background-color: var(--button-filled-hover-primary-background-color);
      color: var(--button-filled-hover-primary-text-color);
    }

    &:active, &.is-active {
      background-color: var(--button-filled-active-primary-background-color);
      color: var(--button-filled-active-primary-text-color);
    }
  }

  @each $name, $color in map-remove($button-type-colors, "primary") {
    &.is-#{$name} {
      background-color: var(--button-#{$name}-background-color);
      color: var(--button-#{$name}-text-color);

      &:hover {
        background-color: var(--button-hover-#{$name}-background-color);
        color: var(--button-hover-#{$name}-text-color);
      }

      &:active, &.is-active {
        background-color: var(--button-active-#{$name}-background-color);
        color: var(--button-active-#{$name}-text-color);
      }

      &.is-outlined {
        background-color: var(--button-outline-#{$name}-background-color);
        border-color: var(--button-outline-#{$name}-border-color);

        &:hover {
          background-color: var(--button-outline-hover-#{$name}-background-color);
          border-color: var(--button-outline-hover-#{$name}-border-color);
        }

        &:active, &.is-active {
          background-color: var(--button-outline-active-#{$name}-background-color);
          border-color: var(--button-outline-active-#{$name}-border-color);
        }
      }

      &.is-filled {
        background-color: var(--button-filled-#{$name}-background-color);
        color: var(--button-filled-#{$name}-text-color);

        &:hover {
          background-color: var(--button-filled-hover-#{$name}-background-color);
          color: var(--button-filled-hover-#{$name}-text-color);
        }

        &:active, &.is-active {
          background-color: var(--button-filled-active-#{$name}-background-color);
          color: var(--button-filled-active-#{$name}-text-color);
        }
      }
    }
  }


  @each $size, $size-def in $button-sizes {
    &.is-#{$size} {
      font-size: map-get($size-def, fs);
      padding: $padding-unit*map-get($size-def, py) $padding-unit*2*map-get($size-def, py);
    }
  }


  &.is-close-button {
    background-color: transparent;
    color: var(--close-button-color);
    font-size: $close-button-font-size !important;
    padding: $padding-unit*$close-button-padding-y $padding-unit*$close-button-padding-x;
    line-height: 1;
    margin-top: -$padding-unit;

    &:hover,
    &:active,
    &.is-active {
      color: var(--close-button-hover-color);
    }

    &:active, &.is-active {
      background-color: var(--close-button-active-background-color);
    }
  }

  &[disabled] {
    filter: grayscale(1.0) opacity(0.7);
    cursor: not-allowed;
  }
}

.modal--header-button,
.widget--header-button {
  .button.is-close-button {
    margin-top: 0;
  }
}

.notice .is-close-button {
  float: right;
}



.button-list {
  display: flex;
  flex-wrap: wrap;

  &.is-gutterless .button {
    border-radius: 0;
    margin: 0;
    position: relative;
    margin-right: -$button-border-width;
    z-index: 0;

    &:first-of-type {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
      margin-right: 0;
    }

    &:hover, &:active, &.is-active {
      z-index: $button-list-elevated-z-index;
    }
  }
}


.button.is-icon-only-button {
  background-color: transparent !important;
  color: var(--button-icon-only-primary-text-color);
  padding: $icon-button-padding;

  line-height: 1;

  font-size: 1em;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;

  @each $size, $size-def in $button-sizes {
    &.is-#{$size} {
      font-size: map-get($size-def, fs);
    }
  }

  &:hover {
    color: var(--button-icon-only-hover-primary-text-color);
  }

  &:active,
  &.is-active {
    color: var(--button-icon-only-active-primary-text-color);
  }

  &.is-danger {
    color: var(--button-icon-only-danger-text-color);


    &:hover {
      color: var(--button-icon-only-hover-danger-text-color);
    }

    &:active,
    &.is-active {
      color: var(--button-icon-only-active-danger-text-color);
    }
  }

  &.is-muted {
    color: var(--button-icon-only-muted-text-color);


    &:hover {
      color: var(--button-icon-only-hover-muted-text-color);
    }

    &:active,
    &.is-active {
      color: var(--button-icon-only-active-muted-text-color);
    }
  }

  &:active:not(:hover),
  &.is-active:not(:hover) {
    background: transparent;
  }
}
