/* Typography */
$font-stack-primary: "Red Hat Display", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-stack-code: "Consolas", "Courier New", monospace !default;

$font-size: 16px !default;

$p-lead-font-size: 1.2em !default;
$p-lead-color: #666666 !default;

$font-size-gradient: (
  "small": 12px,
  "caption": 14px,
  "base": 16px,
  "larger": 19px,
  "subheading": 22px,
  "heading": 25px,
  "subtitle": 28px,
  "title": 31px,
  "display": 34px,
) !default;

$font-size-h1: map-get($font-size-gradient, ltitle) !default;
$font-size-h2: map-get($font-size-gradient, heading) !default;
$font-size-h3: map-get($font-size-gradient, larger) !default;
$font-size-h4: map-get($font-size-gradient, base) !default;
$font-size-h5: map-get($font-size-gradient, caption) !default;
$font-size-h6: map-get($font-size-gradient, small) !default;

/* Animation */
$default-transition: all .3s ease !default;

/* Layout */
$layout-container-width: 72rem !default;

$margin-h1: 18px 0 !default;
$margin-h2: 15px 0 !default;
$margin-h3: 12px 0 !default;
$margin-h4: 9px 0 !default;
$margin-h5: 6px 0 !default;
$margin-h6: 3px 0 !default;

$margin-p: 9px 0 !default;

$margin-unit: 4px !default;
$padding-unit: 4px !default;

/* Grid */
$grid-column-count: 12 !default;
$grid-column-gap: 10px !default;

$grid-small-to-medium-breakpoint: 512px !default;
$grid-medium-to-large-breakpoint: 768px !default;

/* Color */
$color-gradient-stops: (
  "050": 30%,
  "100": 22.5%,
  "200": 12.5%,
  "300": 5%,
  "400": 0%,
  "500": -7.5%,
  "600": -12.5%,
  "700": -17.5%,
  "800": -25%,
  "900": -32.5%
) !default;

$primary-color: #4B68FF !default;
$secondary-colors: (
  "red": #eb5959,
  "teal": #58a09a,
  "yellow": #FDD835,
  "green": #2ECC71
) !default;
$tertiary-color: #78909C !default;

$link-color: #2980B9 !default;
$quote-color: #7f8C8D !default;

$box-shadow-color: #cccccc !default;

/* Standard HTML elements */
$code-font-size: 0.95em !default;
$code-border-width: 1px !default;
$code-border-radius: 3px !default;
$code-border-color: #dddddd !default;
$code-padding-y: 0.5 !default;
$code-padding-x: 1 !default;

$code-block-padding: 2 !default;
$code-block-max-height: 20em !default;

$quote-margin-y: 1 !default;
$quote-margin-x: 0 !default;
$quote-padding-y: 2 !default;
$quote-padding-x: 3 !default;
$quote-background-color: lighten($quote-color, 45%) !default;
$quote-border-width: 2px !default;
$quote-border-color: lighten($quote-color, 35%) !default;
$quote-border-radius: 12px !default;

$delta-padding-y: 0.25 !default;
$delta-padding-x: 0.75 !default;
$delta-margin-y: 0 !default;
$delta-margin-x: 0.5 !default;
$delta-border-radius: 3px !default;
$delta-ins-background-color: lighten(map-get($secondary-colors, "green"), 30%) !default;
$delta-del-background-color: lighten(map-get($secondary-colors, "red"), 20%) !default;

/* Tables */
$table-border-color: #cccccc !default;
$table-padding-y: 1.5 !default;
$table-padding-x: 2.5 !default;
$table-compact-padding-y: 0.5 !default;
$table-compact-padding-x: 1.5 !default;

$table-th-border-width: 3px !default;
$table-th-font-weight: 600 !default;

$table-td-border-width: 1px !default;

$table-stripe-background-color: #f6f6f6 !default;
$table-hover-background-color: #eeeeee !default;

/* Badges */
$badge-tag-font-size: 14px !default;
$badge-tag-padding-x: 2 !default; // in padding units
$badge-tag-padding-y: 1 !default; // in padding units
$badge-tag-font-weight: 500 !default;
$badge-tag-color: darken($primary-color, 35%) !default;
$badge-tag-background-color: lighten($primary-color, 30%) !default;
$badge-tag-master-background-color: darken($primary-color, 30%) !default;
$badge-tag-border-radius: 3px !default;

$badge-tag-alternative-colors: map-merge($secondary-colors, ('muted': $tertiary-color));

$badge-award-font-size: 16px !default;
$badge-award-padding-x: 2 !default; // in padding units
$badge-award-padding-y: 1 !default; // in padding units
$badge-award-font-weight: 500 !default;
$badge-award-color: darken($tertiary-color, 25%) !default;
$badge-award-background-color: lighten($tertiary-color, 40%) !default;
$badge-award-border-color: lighten($tertiary-color, 35%) !default;
$badge-award-border-width: 1px !default;
$badge-award-border-radius: 3px !default;
   $badge-award-gold-color: #cc0 !default;
   $badge-award-silver-color: #ccc !default;
   $badge-award-bronze-color: #c73 !default;

$badge-role-font-size: 0.75em !default;
$badge-role-padding-x: 1.5 !default; // in padding units
$badge-role-padding-y: 0.75 !default; // in padding units
$badge-role-font-weight: 700 !default;
$badge-role-background-color: darken($primary-color, 20%) !default;
$badge-role-color: white !default;
$badge-role-border-radius: 2px !default;

$badge-role-muted-background-color: lighten($tertiary-color, 30%) !default;
$badge-role-muted-color:darken($tertiary-color, 30%) !default;

$badge-tl-font-size: 14px !default;
$badge-tl-min-width: 20px !default;
$badge-tl-padding-x: 1.5 !default; // in padding units
$badge-tl-padding-y: 0.25 !default; // in padding units
$badge-tl-font-weight: 700 !default;
$badge-tl-border-radius: 20px !default;
$badge-tl-background-color: darken($primary-color, 20%) !default;
$badge-tl-color: white !default;

$badge-tl-muted-background-color: lighten($tertiary-color, 30%) !default;
$badge-tl-muted-color:darken($tertiary-color, 30%) !default;

/* Buttons */
$button-primary-color: $primary-color !default;
$button-danger-color: map-get($secondary-colors, "red") !default;
$button-muted-color: $tertiary-color !default;

$button-icon-only-default-color: $tertiary-color !default;

$button-font-weight: 500 !default;
$button-border-radius: 3px !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-margin: 0.5 !default;

// (font-size, padding-y)
// padding-x = 2*padding-y
$button-sizes: (
  small: (fs: 0.8em, py: 1),
  medium: (fs: 1.0em, py: 1.75),
  large: (fs: 1.1em, py: 2),
  very-large: (fs: 1.2em, py: 2.25),
  extremely-large: (fs: 1.4em, py: 2.5)
) !default;
$button-default-size: (fs: 0.9em, py: 1.5) !default;


$close-button-color: #aaaaaa !default;
$close-button-hover-color: #333333 !default;
$close-button-active-background-color: rgba(0, 0, 0, 0.05) !default;
$close-button-font-size: 25px !default;
$close-button-padding-y: 0.5 !default;
$close-button-padding-x: 2 !default;

$button-list-elevated-z-index: 2 !default;

$icon-button-padding: 3px !default;

/* Forms */
$form-color: $tertiary-color !default;
$form-danger-color: map-get($secondary-colors, "red") !default;


$label-margin-y: 1 !default;
$label-margin-x: 0 !default;
$label-color: #444444 !default;
$label-font-size: 1.0em !default;
$label-font-weight: 500 !default;

$form-caption-font-size: map-get($font-size-gradient, "caption") !default;
$form-caption-color: darken($tertiary-color, 5%) !default;
$form-caption-margin-top: -1 !default;
$form-caption-margin-bottom: 2 !default;

$input-margin-y: 1 !default;
$input-margin-x: 0 !default;
$input-padding: 2 !default;
$input-font-weight: 500 !default;
$input-border-width: 1px !default;
$input-border-color: lighten($form-color, 35%) !default;
$input-active-border-color: lighten($form-color, 20%) !default;
$input-background-color: lighten($form-color, 45%) !default;
$input-border-radius: 3px !default;
$input-danger-border-color: lighten($form-danger-color, 20%) !default;
$input-danger-background-color: lighten($form-danger-color, 35%) !default;

$textarea-resize: none !default;
$textarea-min-height: 8em !default;
$textarea-small-min-height: 4em !default;
$textarea-large-min-height: 16em !default;

/* Modals */
$modal-width: 48rem !default;
$modal-large-width: 72em !default;
$modal-small-width: 24em !default;

$modal-outer-padding: 12 !default;
$modal-shadow: 0 3px 5px -3px #666666 !default;
$modal-background-color: #ffffff !default;
$modal-border-width: 1px !default;
$modal-border-color: lighten($tertiary-color, 20%) !default;
$modal-inner-border-color: lighten($tertiary-color, 30%) !default;

$modal-backdrop-background: rgba(0, 0, 0, 0.5) !default;
$modal-backdrop-shadow: 0 3px 5px -1.5px #666666 !default;

$modal-header-font-size: 1.4em !default;
$modal-header-padding: 3 !default;
$modal-header-font-weight: 600 !default;

$modal-header-link-font-size: 0.8rem !default;
$modal-header-link-padding-y: 0.75 !default;
$modal-header-link-padding-x: 1 !default;
$modal-header-button-font-size: 0.8rem !default;

$modal-body-padding: 4 !default;
$modal-body-overflow-height: 32rem !default;
$modal-large-body-overflow-height: 48rem !default;
$modal-small-body-overflow-height: 16rem !default;

$modal-footer-padding: 3 !default;

$modal-danger-border-color: lighten(map-get($secondary-colors, "red"), 15%) !default;
$modal-danger-header-color: darken(map-get($secondary-colors, "red"), 25%) !default;
$modal-danger-background-color: lighten(map-get($secondary-colors, "red"), 35%) !default;

/* Header */
$header-padding: 4 !default;
$header-bottom-margin: 4 !default;

$header-background: #ffffff !default;
$header-color: #000000 !default;
$header-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1) !default;
$header-font-weight: 600 !default;

$header-link-padding-y: 1 !default;
$header-link-padding-x: 2 !default;
$header-link-hover-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2) !default;

$header-brand-instance-font-size: 1rem !default;
$header-brand-site-font-size: 2.5rem !default;
$header-brand-site-small-font-size: 2rem !default;
$header-brand-menu-inner-margin: 6 !default;

$header-menu-min-height: 50px !default;

$header-item-padding-y: 1 !default;
$header-item-padding-x: 2 !default;
$header-item-margin-y: 0 !default;
$header-item-margin-x: 1 !default;
$header-item-color: rgba(0, 0, 0, 0.65) !default;
$header-item-active-color: $header-color !default;
$header-item-background-color: transparent !default;
$header-item-active-background-color: transparent !default;

$header-alert-background-color: darken($primary-color, 20%) !default;
$header-alert-color: #ffffff !default;
$header-alert-font-size: 13px !default;
$header-alert-padding-y: 0.5 !default;
$header-alert-padding-x: 1 !default;
$header-alert-margin-y: 0 !default;
$header-alert-margin-x: 1 !default;
$header-alert-border-radius: 30px !default;

$header-alert-complex-top: -2px !default;
$header-alert-complex-left: -5px !default;

$header-tl-color: #ffffff !default;
$header-tl-font-size: 30px !default;
$header-tl-opacity: 0.9 !default;
$header-tl-small-outline-shadow: 0 0 1px #000000 !default;
$header-tl-padding: 0.5 !default;
$header-tl-margin-y: 0 !default;
$header-tl-margin-x: 1 !default;
$header-tl-bottom: -2px !default;
$header-tl-right: -7px !default;

$header-icon-or-image-height: 40px !default;
$header-icon-or-image-width: 40px !default;

$header-bars-width: 2em !default;
$header-bars-height: 0.333333333em !default;
$header-bars-margin-y-raw: 0.166666667em !default; // raw; not in margin units!
$header-bars-color: rgba(0, 0, 0, 0.65) !default;
$header-bars-active-color: rgba(0, 0, 0, 0.85) !default;

/** header slide **/


$header-slide-default-top: 65px !default;
$header-slide-default-right: 20px !default;
$header-slide-max-width: 300px !default;
$header-slide-background-color: white !default;
$header-slide-padding: 3 !default;
$header-slide-border: 1px solid #eeeeee !default;
$header-slide-shadow: 0 3px 2px -2px #ddd !default;

$header-slide-link-margin-y: 1 !default;
$header-slide-link-margin-x: 0 !default;
$header-slide-link-padding-y: 2 !default;
$header-slide-link-padding-x: 4 !default;

$header-slide-item-color: #595959 !default;
$header-slide-item-background-color: transparent !default;
$header-slide-item-active-color: #000000 !default;
$header-slide-item-active-background-color: transparent !default;
$header-slide-item-active-shadow: 0 1.5px 4px 0px #dddddd !default;

$header-slide-separator-width: 1px !default;
$header-slide-separator-color: #dddddd !default;

$header-breakpoint: 850px;

/** .is-dark header **/

$header-color__dark: #ffffff !default;
$header-shadow__dark: 0 3px 2px 0 rgba(0, 0, 0, 0.2) !default;

$header-link-hover-shadow__dark: 0 2px 4px 1px rgba(0, 0, 0, 0.5) !default;

$header-item-color__dark: rgba(255, 255, 255, 0.65) !default;
$header-item-active-color__dark: $header-color__dark !default;
$header-item-background-color__dark: transparent !default;
$header-item-active-background-color__dark: transparent !default;

$header-alert-background-color__dark: white !default;
$header-alert-color__dark: darken($primary-color, 20%) !default;

$header-bars-color__dark: rgba(255, 255, 255, 0.65) !default;
$header-bars-active-color__dark: rgba(255, 255, 255, 0.85) !default;

/* Footer */
$footer-padding: 4 !default; // in padding units
$footer-top-margin: 2 !default; // in margin units

$footer-top-border-width: 1px !default;

$footer-color: #666666 !default;
$footer-border-color: #dddddd !default;
$footer-background-color: #f6f6f6 !default;

/* Item lists */
$item-list-separator-width: 1px !default;
$item-list-separator-color: lighten($tertiary-color, 30%) !default;
$item-list-highlight: lighten($primary-color, 32.5%) !default;

$item-list-number-padding: 0.5 !default;
$item-list-number-margin: 0.5 !default;
$item-list-number-width: 100px !default;
$item-list-number-font-size: 25px !default;
$item-list-number-font-color: #222222 !default;
$item-list-number-small-font-size: 18px !default;
$item-list-number-small-margin-y: 0 !default;
$item-list-number-small-margin-x: 0.5 !default;
$item-list-number-label-font-size: 14px !default;
$item-list-number-label-color: #666666 !default;

$item-list-text-padding: 1 !default;
$item-list-text-margin: 1 !default;
$item-list-text-width: 200px !default;

$item-list-image-padding: 0 !default;
$item-list-image-margin: 0.5 !default;
$item-list-image-height: 40px !default;
$item-list-image-width: 40px !default;
$item-list-image-border-radius: 50% !default;

$item-list-value-height: 60px !default;

$item-list-primary-small-margin-y: 0 !default;
$item-list-primary-small-margin-x: 2 !default;

$item-list-not-primary-small-font-size: 0.9em !default;
$item-list-not-primary-small-margin-y: 0.5 !default;
$item-list-not-primary-small-margin-x: 1 !default;

$item-list-not-primary-image-small-margin-y: 1 !default;
$item-list-not-primary-image-small-margin-x: 0.5 !default;


/* Notices */
$notice-margin-y: 1 !default;
$notice-margin-x: 0 !default;
$notice-padding: 4 !default;
$notice-border-width: 1px !default;
$notice-border-radius: 3px !default;

$notice-default-border-color: lighten($tertiary-color, 20%) !default;
$notice-default-background-color: lighten($tertiary-color, 40%) !default;
$notice-default-filled-background-color: darken($tertiary-color, 40%) !default;


/* Tabs */
$tabs-padding: 0 !default;
$tabs-font-weight: 600 !default;

$tabs-color: #666666 !default;
$tabs-hover-color: darken($primary-color, 35%) !default;
$tabs-hover-background-color: lighten($primary-color, 30%) !default;
$tabs-active-color: #ffffff !default;
$tabs-active-background-color: darken($primary-color, 20%) !default;

$tabs-item-padding-y: 1.5 !default;
$tabs-item-padding-x: 2.5 !default;
$tabs-item-margin: 0.5 !default;

$tabs-classic-border-width: 3px;
$tabs-classic-border-color: darken($primary-color, 20%) !default;

/* Menu */
$menu-padding: 0 !default;
$menu-font-weight: 500 !default;
$menu-font-size: 0.9rem !default;

$menu-color: #666666 !default;
$menu-hover-color: darken($primary-color, 35%) !default;
$menu-hover-background-color: lighten($primary-color, 30%) !default;
$menu-active-color: #ffffff !default;
$menu-active-background-color: darken($primary-color, 20%) !default;

$menu-heading-font-size: 1rem !default;
$menu-heading-font-weight: 600 !default;
$menu-heading-color: #333333 !default;
$menu-heading-padding-y: 1.5 !default;
$menu-heading-padding-x: 2.5 !default;
$menu-heading-margin-y: 1.5 !default;
$menu-heading-margin-x: 0.5 !default;
$menu-heading-border-radius: 0.25em !default;

$menu-item-padding-y: 2.5 !default;
$menu-item-padding-x: 2.5 !default;
$menu-item-margin-y: 0.5 !default;
$menu-item-margin-x: 0.5 !default;
$menu-item-border-radius: 0.25em !default;

/* Widgets */
$widget-shadow: 0 3px 5px -2px #eeeeee !default;
$widget-margin-y: 2 !default;
$widget-margin-x: 0 !default;
$widget-background-color: #ffffff !default;
$widget-border-width: 1px !default;
$widget-border-color: lighten($tertiary-color, 30%) !default;
$widet-border-radius: 3px !default;

$widget-header-font-size: 1.2em !default;
$widget-header-padding: 3 !default;
$widget-header-font-weight: 400 !default;

$widget-header-link-font-size: 0.8em !default;
$widget-header-link-padding-y: 0.75 !default;
$widget-header-link-padding-x: 1 !default;
$widget-header-button-font-size: 0.8em !default;

$widget-body-padding: 3 !default;

$widget-footer-padding: 3 !default;

$widget-border-color-lighten: 5% !default;
$widget-background-color-lighten: 35% !default;
$widget-background-color-hf-lighten: 32.5% !default;

/* Pagination */
$pagination-margin-y: 1 !default;
$pagination-margin-x: 0 !default;

$pagination-item-margin-y: 0 !default;
$pagination-item-margin-x: 0.5 !default;
$pagination-item-border-width: 1px !default;
$pagination-item-border-color: lighten($tertiary-color, 30%) !default;
$pagination-item-background-color: white !default;
$pagination-item-font-weight: 400 !default;
$pagination-item-border-radius: 3px !default;
$pagination-item-box-shadow: 2px 3px 2px -1px lighten($tertiary-color, 30%) !default;

$pagination-item-padding-y: 0.75 !default;
$pagination-item-padding-x: 2.5 !default;

$pagination-item-hover-background-color: lighten($tertiary-color, 40%) !default;

$pagination-item-active-box-shadow: 2px 3px 2px -2px darken($tertiary-color, 30%) !default;
$pagination-item-active-background-color: darken($tertiary-color, 25%) !default;
$pagination-item-active-border-color: darken($tertiary-color, 35%) !default;
$pagination-item-active-color: white !default;
$pagination-item-active-font-weight: 600 !default;

$pagination-item-hover-box-shadow: none !default;

/* Bar */
$bar-max-height: 35vh;
$bar-background-color: lighten($tertiary-color, 42.5%);
$bar-border-color: lighten($tertiary-color, 25%);
$bar-border-width: 1px;
$bar-padding: 5;