$link-type-colors: (
  "danger": $danger-color,
  "warning": $warning-color,
  "success": $success-color,
  "info": $info-color,

  // Deprecated
  "red": $danger-color,
  "yellow": $warning-color,
  "green": $success-color,
  "teal": $info-color
);

:root {
  --primary-color: #{$primary-color};

  // Secondary colors
  --danger-color: #{$danger-color};
  --warning-color: #{$warning-color};
  --success-color: #{$success-color};
  --info-color: #{$info-color};

  // Tertiary color
  --tertiary-color: #{$tertiary-color};


  // ------------------------
  // Link
  // ------------------------

  --link-color: #{$link-color};
  --link-hover-color: #{darken($link-color, 20%)};
  --link-active-color: #{darken($link-color, 20%)};

  // --link-danger-color / --link-active-danger-color / --link-hover-danger-color etc.
  @each $name, $color in $link-type-colors {
    --link-#{$name}-color: #{darken($color, 25%)};
    --link-active-#{$name}-color: #{darken($color, 40%)};
    --link-hover-#{$name}-color: #{darken($color, 40%)};
  }

  --link-muted-color: #{darken($tertiary-color, 5%)};
  --link-hover-muted-color: #{darken($tertiary-color, 25%)};

  // Badges
  //--badge-filled-text-color: #FFFFFF;
  //--badge-filled-background-color: var(--badge-tag-master-background-color);
}