

:root {
  --primary-color: #{$primary-color};

  // Secondary colors
  --danger-color: #{$danger-color};
  --warning-color: #{$warning-color};
  --success-color: #{$success-color};
  --info-color: #{$info-color};

  // Tertiary color
  --tertiary-color: #{$tertiary-color};


  // ------------------------
  // Link
  // ------------------------

  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --link-active-color: #{$link-active-color};
  --link-muted-color: #{$link-muted-color};
  --link-hover-muted-color: #{$link-hover-muted-color};

  // --link-danger-color / --link-active-danger-color / --link-hover-danger-color etc.
  @each $name, $color in $link-type-colors {
    --link-#{$name}-color: #{darken($color, 25%)};
    --link-active-#{$name}-color: #{darken($color, 40%)};
    --link-hover-#{$name}-color: #{darken($color, 40%)};
  }

  // ------------------------
  // Quote
  // ------------------------

  --quote-color: #{$quote-color};
  --quote-background-color: #{$quote-background-color};
  --quote-border-color: #{$quote-border-color};

  // ------------------------
  // Code
  // ------------------------

  --code-border-color: #{$code-border-color};

  // ------------------------
  // Delta (diff)
  // ------------------------

  --delta-ins-background-color: #{$delta-ins-background-color};
  --delta-del-background-color: #{$delta-del-background-color};

  // ------------------------
  // Table
  // ------------------------

  --table-border-color: #{$table-border-color};
  --table-stripe-background-color: #{$table-stripe-background-color};
  --table-hover-background-color: #{$table-hover-background-color};

  // ------------------------
  // Badges
  // ------------------------
  --badge-tag-color: #{$badge-tag-color};
  --badge-tag-background-color: #{$badge-tag-background-color};
  --badge-tag-filled-color: #{$badge-tag-filled-color};
  --badge-tag-filled-background-color: #{$badge-tag-filled-background-color};

  --badge-tag-a-hover-background-color: #{$badge-tag-a-hover-background-color};
  --badge-tag-filled-a-hover-color: #{$badge-tag-filled-a-hover-color};
  --badge-tag-filled-a-hover-background-color: #{$badge-tag-filled-a-hover-background-color};

  // --badge-tag-danger-color / --badge-tag-danger-background-color
  // --badge-tag-filled--danger-color / --badge-tag-filled--danger-background-color
  // --badge-tag-a-hover-danger-background-color
  // --badge-tag-filled-a-hover-danger-color / --badge-tag-filled-a-hover-danger-background-color etc.
  @each $name, $color in $badge-tag-alternative-colors {
    --badge-tag-#{$name}-color: #{darken($color, 35%)};
    --badge-tag-#{$name}-background-color: #{lighten($color, 25%)};
    --badge-tag-filled-#{$name}-background-color: #{darken($color, 20%)};
    --badge-tag-filled-#{$name}-color: #{$badge-tag-filled-color};

    --badge-tag-a-hover-#{$name}-background-color: #{lighten($color, 20%)};
    --badge-tag-filled-a-hover-#{$name}-color: #{$badge-tag-filled-color};
    --badge-tag-filled-a-hover-#{$name}-background-color: #{darken($color, 25%)};
  }

  --badge-award-color: #{$badge-award-color};
  --badge-award-background-color: #{$badge-award-background-color};
  --badge-award-border-color: #{$badge-award-border-color};

    --badge-award-gold-color: #{$badge-award-gold-color};
    --badge-award-silver-color: #{$badge-award-silver-color};
    --badge-award-bronze-color: #{$badge-award-bronze-color};

  --badge-role-background-color: #{$badge-role-background-color};
  --badge-role-color: #{$badge-role-color};

  --badge-role-muted-background-color: #{$badge-role-muted-background-color};
  --badge-role-muted-color: #{$badge-role-muted-color};

  --badge-tl-background-color: #{$badge-tl-background-color};
  --badge-tl-color: #{$badge-tl-color};

  --badge-tl-muted-background-color: #{$badge-tl-muted-background-color};
  --badge-tl-muted-color: #{$badge-tl-muted-color};
}