.droppanel {
    @include theme-switch-val($drop-border-color,$drop-border-color-dark) using ($val){
        border: $drop-border-width solid $val;
    }
    padding: $drop-padding * $padding-unit;
    border-radius: $drop-border-radius;
    max-width: $drop-max-width;
    width: 100%;
    box-shadow: $drop-shadow;
    position: absolute;
    display: none;
    @include theme-switch-val($drop-background-color,$drop-background-color-dark) using ($val){
        background-color: $val;
    }

    &.is-active { display: block; }

    &.is-large {
        max-width: $drop-large-max-width;
    }

    &.is-wide {
        max-width: $drop-wide-max-width;
    }

    .droppanel--header {
        @include theme-switch-val($drop-header-color,$drop-background-color-dark) using ($val){
            color: $val;
        }
        margin: $drop-header-margin*$margin-unit 0;
        font-variant: small-caps;

        &:first-child {
            margin-top: 0;
        }
    }

    .droppanel--menu {
        margin: 0 $padding-unit * -$drop-padding;
        display: flex;
        flex-direction: column;

        a {
            padding: $drop-menu-item-padding-y*$padding-unit $drop-menu-item-padding-x*$padding-unit;
            @include theme-switch-val($drop-menu-item-color,$drop-menu-item-color-dark) using ($val){
                color: $val;
            }

            &:hover, &:focus, &:active {
                @include theme-switch-val($drop-menu-item-hover-background-color,$drop-menu-item-hover-background-color-dark) using ($val){
                    background-color: $val;
                }
                @include theme-switch-val($drop-menu-item-color,$drop-menu-item-color-dark) using ($val){
                    color: $val;
                }
                text-decoration: none;
            }

            &.is-active {
                @include theme-switch-val($drop-menu-item-active-background-color,$drop-menu-item-active-background-color-dark) using ($val){
                    background-color: $val;
                }
                @include theme-switch-val($drop-menu-item-active-color,$drop-menu-item-active-color-dark) using ($val){
                    color: $val;
                }
            }
        }
    }
}
