/*
 * RED HAT DISPLAY
 */

 @font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-Italic.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-MediumItalic.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-BoldItalic.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-BlackItalic.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Red_Hat_Display/RedHatDisplay-Black.ttf");
}


/*
 * ROBOTO
 */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Italic.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-BlackItalic.ttf");  
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");  
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");  
}