.footer {
  padding: $footer-padding * $padding-unit;
  border-top: $footer-top-border-width solid var(--footer-border-color);
  color: var(--footer-color);
  font-family: $font-stack-brand;

  margin-top: $footer-top-margin * $margin-unit;

  &.is-inverted {
    border-top: none;
    background-color: var(--footer-background-color);
  }
}
