.footer {
  padding: $footer-padding * $padding-unit;
  @include theme-switch-val($footer-border-color,$footer-border-color-dark) using ($val){
    border-top: $footer-top-border-width solid $val;
  }
  color: $footer-color;
  font-family: $font-stack-brand;

  margin-top: $footer-top-margin * $margin-unit;

  &.is-inverted {
    border-top: none;
    @include theme-switch-val($footer-background-color,$footer-background-color-dark) using ($val){
      background-color: $val;
    }
  }
}
