@media (prefers-color-scheme: light){
  .footer {
    padding: $footer-padding * $padding-unit;
    border-top: $footer-top-border-width solid $footer-border-color;
    color: $footer-color;
    font-family: $font-stack-brand;

    margin-top: $footer-top-margin * $margin-unit;

    &.is-inverted {
      border-top: none;
      background-color: $footer-background-color;
    }
  }
}
@media (prefers-color-scheme: dark){
  .footer {
    padding: $footer-padding * $padding-unit;
    border-top: $footer-top-border-width solid #0c0b0b;
    color: $footer-color;
    font-family: $font-stack-brand;

    margin-top: $footer-top-margin * $margin-unit;

    &.is-inverted {
      border-top: none;
      background-color: #141212;
    }
  }
}
