.tabs {
  padding: $tabs-padding*$padding-unit;
  display: flex;
  flex-wrap: wrap;

  .tabs--item {
    display: block;
    font-weight: $tabs-font-weight;
    color: $tabs-color;
    text-decoration: none !important;
    padding: $tabs-item-padding-y*$padding-unit $tabs-item-padding-x*$padding-unit;
    margin: $tabs-item-margin*$padding-unit;

    &:hover {
      background-color: $tabs-hover-background-color;
      color: $tabs-hover-color;
    }

    &.is-active {
      background-color: $tabs-active-background-color;
      color: $tabs-active-color;
    }
  }

  &.is-classic-tabs {
    border-bottom: $tabs-classic-border-width solid $tabs-classic-border-color;

    .tabs--item {
      margin-bottom: 0;
    }
  }
}


.menu {
  padding: $menu-padding*$padding-unit;
  display: flex;
  flex-direction: column;

  .menu--heading {
    display: block;
    font-weight: $menu-heading-font-weight;
    color: $menu-heading-color;
    text-decoration: none !important;
    padding: $menu-heading-padding-y*$padding-unit $menu-heading-padding-x*$padding-unit;
    margin: $menu-heading-margin-y*$padding-unit $menu-heading-margin-x*$padding-unit;
    border-radius: $menu-heading-border-radius;
    font-variant: small-caps;
    font-size: $menu-heading-font-size;
  }
  a.menu--heading {
    &:hover {
      background-color: $menu-hover-background-color;
      color: $menu-hover-color;
    }

    &.is-active {
      background-color: $menu-active-background-color;
      color: $menu-active-color;
    }
  }

  .menu--item {
    display: block;
    font-weight: $menu-font-weight;
    color: $menu-color;
    text-decoration: none !important;
    padding: $menu-item-padding-y*$padding-unit $menu-item-padding-x*$padding-unit;
    margin: $menu-item-margin-y*$padding-unit $menu-item-margin-x*$padding-unit;
    border-radius: $menu-item-border-radius;
    font-size: $menu-font-size;

    &:hover {
      background-color: $menu-hover-background-color;
      color: $menu-hover-color;
    }

    &.is-active {
      background-color: $menu-active-background-color;
      color: $menu-active-color;
    }
  }
}
