ul.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: $pagination-margin-y*$margin-unit $pagination-margin-x*$margin-unit;
    padding: 0;
    list-style: none;

    li {
        display: block;
        margin: $pagination-item-margin-y*$margin-unit $margin-unit*$pagination-item-margin-x;
        padding: 0;
        @include theme-switch-val($pagination-item-border-color,$pagination-item-border-color-dark) using ($val){
            border: $pagination-item-border-width solid $val;
        }
        @include theme-switch-val($pagination-item-background-color,$pagination-item-background-color-dark) using ($val){
            background-color: $val;
        }
        @include theme-switch-val($pagination-item-box-shadow,$pagination-item-box-shadow-dark) using ($val){
            box-shadow: $val;
        }
        border-radius: $pagination-item-border-radius;
        font-weight: $pagination-item-font-weight;

        &.is-active {
            @include theme-switch-val($pagination-item-active-border-color,$pagination-item-active-border-color-dark) using ($val){
                border-color: $val;
            }
            @include theme-switch-val($pagination-item-active-background-color,$pagination-item-active-background-color-dark) using ($val){
                background-color: $val;
            }
            @include theme-switch-val($pagination-item-active-box-shadow,$pagination-item-active-box-shadow-dark) using ($val){
                box-shadow: $val;
            }
            @include theme-switch-val($pagination-item-active-color,white) using ($val){
                color: $val;
            }
            font-weight: $pagination-item-active-font-weight;

            a:hover {
                background-color: transparent;
            }
        }

        &.is-disabled {
            box-shadow: $pagination-item-hover-box-shadow;
        }

        span, a {
            padding: $pagination-item-padding-y*$padding-unit $pagination-item-padding-x*$padding-unit;
            display: block;
            color: inherit;
        }

        a:hover {
            @include theme-switch-val($pagination-item-hover-background-color,$pagination-item-hover-background-color-dark) using ($val){
                background-color: $val;
            }
            color: inherit;
        }
    }
}
