html {
  font-family: $font-stack-primary;
  font-size: $font-size;
}

h1 {
  font-size: $font-size-h1;
  font-weight: bold;
  margin: $margin-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: bold;
  margin: $margin-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: bold;
  margin: $margin-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: bold;
  margin: $margin-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: bold;
  margin: $margin-h5;
}

h6 {
  font-size: $font-size-h6;
  font-weight: bold;
  margin: $margin-h6;
}

p {
  line-height: 1.5;
  margin: $margin-p;
}
p.is-lead,
.is-lead p {
  font-size: $p-lead-font-size;
  color: $p-lead-color;
}

ul li, ol li {
  line-height: 1.5;
}

a:link, a:visited, .link {
  color: $link-color;
  text-decoration: none;
  transition: $default-transition;
  cursor: pointer;

  &:hover, &:active {
    color: darken($link-color, 20%);
    text-decoration: underline;
  }

  @each $key, $value in $secondary-colors {
    &.is-#{$key} {
      color: darken($value, 25%);

      &:hover, &:active {
        color: darken($value, 40%);
      }
    }
  }

  &.is-muted {
    color: darken($tertiary-color, 5%);

    &:hover {
      color: darken($tertiary-color, 25%);
    }
  }

  &.is-not-underlined:hover {
    text-decoration: none;
  }

  &.is-underlined {
    text-decoration: underline;
  }
}
.link {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

code {
  display: inline;
  border: $code-border-width solid $code-border-color;
  border-radius: $code-border-radius;
  padding: $code-padding-y*$padding-unit $code-padding-x*$padding-unit;

  font-family: $font-stack-code;
  font-size: $code-font-size;
}

pre {
  display: block;
  border: $code-border-width solid $code-border-color;
  border-radius: $code-border-radius;
  padding: $code-block-padding * $padding-unit;

  font-family: $font-stack-code;
  font-size: $code-font-size;
  max-height: $code-block-max-height;
  overflow: auto;

  line-height: 1.5;

  code {
    display: block;
    border: none;
    padding: 0;
    font-size: 1em;
  }
}

blockquote {
  margin: $quote-margin-y*$margin-unit $quote-margin-x*$margin-unit;
  padding: $quote-padding-y*$padding-unit $quote-padding-x*$padding-unit;
  background-color: $quote-background-color;
  border: $quote-border-width solid $quote-border-color;

  border-radius: $quote-border-radius;
  border-bottom-left-radius: 0;

  h1, h2, h3, h4, h5, h6, p {
    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }
  }
}

ins, del {
  padding: $delta-padding-y*$padding-unit $delta-padding-x*$padding-unit;
  margin: $delta-margin-y*$margin-unit $delta-margin-x*$margin-unit;
  border-radius: $delta-border-radius;
}
ins {
  background-color: $delta-ins-background-color;
  text-decoration: underline;
}
del {
  background-color: $delta-del-background-color;
  text-decoration: line-through;
}


table.table {
  border-collapse: collapse;
  padding: $padding-unit;
  max-width: 100%;

  &.is-full-width {
    width: 100%;
  }

  th {
    border-bottom: $table-th-border-width solid $table-border-color;
    padding: $table-padding-y*$padding-unit $table-padding-x*$padding-unit;
    font-weight: $table-th-font-weight;
    text-align: left;
  }

  td {
    border-bottom: $table-td-border-width solid $table-border-color;
    padding: $table-padding-y*$padding-unit $table-padding-x*$padding-unit;
    text-align: left;
  }

  th, td {
    &:not(:last-child) {
      border-right: $table-td-border-width solid $table-border-color;
    }
  }

  &.is-compact {
    th, td {
      padding: $table-compact-padding-y*$padding-unit $table-compact-padding-x*$padding-unit;
    }
  }

  &.is-striped tr:nth-of-type(2n+1) td {
    background-color: $table-stripe-background-color;
  }

  &.is-with-hover tr:hover td {
    background-color: $table-hover-background-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}


@each $key, $value in $font-size-gradient {
  .has-font-size-#{$key},
  .h-fs-#{$key} {
    font-size: $value;
  }
}

.has-font-family-primary,
.h-ff-primary { font-family: $font-stack-primary; }
.has-font-family-code,
.h-ff-code { font-family: $font-stack-code; }

.has-font-weight-normal,
.h-fw-normal { font-weight: 400; }
.has-font-weight-medium,
.h-fw-medium { font-weight: 500; }
.has-font-weight-bold,
.h-fw-bold { font-weight: 700; }
.has-font-weight-black,
.h-fw-black { font-weight: 900; }

.has-font-style-normal,
.h-fst-normal { font-style: normal; }
.has-font-style-italic,
.h-fst-italic { font-style: italic; }

.has-text-align-left,
.h-ta-left { text-align: left; }
.has-text-align-center,
.h-ta-center { text-align: center; }
.has-text-align-right,
.h-ta-right { text-align: right; }
.has-text-align-justify,
.h-ta-justify { text-align: justify; }